/* Setting */
@import "reset.css";
@import "variables.css";

/* Component */
@import "components/status-bar.css";
@import "components/screen-header.css";
@import "components/screen-nav.css";
@import "components/badges.css";
@import "components/user-list-item.css";
@import "components/divider.css";

/* Screen */
@import "screen/login.css";
@import "screen/friends.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/chat.css";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


/* temp border for visualizing */

/* global setting */

body * {
    font-family: Roboto;
    color: #000000e0;
}

a {
    text-decoration: none;
}
.screen-main {
    margin: 0px 20px;
}
.error-rising-page {
    z-index: 99;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEE500;
    font-size: 30px;
    font-weight: bold;
}

@media screen and (max-width: 550px) {
    .error-rising-page {
        visibility: hidden;
    }
}