.unread-comment-number-badge {
    width: 22px;
    height: 22px;
    background-color: tomato;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.somethingnew-notification {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 4px;
    height: 4px;
    background-color: tomato;
    border-radius: 50%;
}