.user-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-list-item__main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-list-item__main__profile-img {
    width: 65px;
    height: 65px;
    border-radius: 40%;
}

.user-list-item__main__info__name {
    font-size: 24px;
    font-weight: 500;
}

.user-list-item__main__profile-img--lg {
    width: 80px;
    height: 80px;
    margin: 5px 0px;
}

.user-list-item__main__profile-img--lg~.user-list-item__main__info>.user-list-item__main__info__name {
    font-weight: bold;
}

.user-list-item__main__profile-img--sm {
    width: 55px;
    height: 55px;
    margin: 10px 0px;
}

.user-list-item__main__profile-img--sm~.user-list-item__main__info>.user-list-item__main__info__name {
    font-size: 22px;
    font-weight: 400;
}

.user-list-item__main__info {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.user-list-item__main__info__subtitle {
    color: #00000080;
    font-weight: 500;
    margin-top: 10px;
}

.user-list-item__icons__time {
    display: block;
    margin-bottom: 10px;
    color: #00000040;
}

.user-list-item__icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}